# Working files
*.tar.gz
*.zip
*.pickle


# Working folders
Udemy_Deep_Learning/notMNIST_large
Udemy_Deep_Learning/notMNIST_small
Udemy_Deep_Learning/notMNIST_large/
Udemy_Deep_Learning/notMNIST_small/