# Working files
*.tar.gz
*.zip
*.pickle


# Working folders
Udacity_Deep_Learning/notMNIST_large
Udacity_Deep_Learning/notMNIST_small
Udacity_Deep_Learning/notMNIST_large/
Udacity_Deep_Learning/notMNIST_small/